In [1]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [5]:
stu1 =Student(name='rober',chinese=98, english=76, math=89)
print(type(stu1))
stu1.name, stu1.chinese, stu1.english, stu1.math

<class '__main__.Student'>

('rober', 98, 76, 89)

In [6]:
stu2 =Student(name='jenny', chinese=89, english=78, math=65)
print(type(stu2))
stu2.name, stu2.chinese, stu2.english, stu2.math

<class '__main__.Student'>

('jenny', 89, 78, 65)